<div fxLayout="row" fxLayoutAlign="start start">
    <mat-card class="card">
        <mat-card-content>
            <h1>Kontakt</h1>
            <p>Hast du Fragen oder willst Du auf den Mailverteiler, um informiert zu werden? Schreib uns:</p>
            <p><mat-icon class="icon">mail_fill</mat-icon><span> box_stern_bern(at)immerda.ch</span></p>
            <h1>Boxkeller</h1>
            <p class="textContent">Der Boxkeller befindet sich in der Alten Feuerwehr Viktoria an der <a href="https://goo.gl/maps/zMwDDxZ8fbck1boz7">Gotthelfstrasse 29, 3013 Bern</a>.
                Die Haltestelle "Viktoriaplatz" wird von der Buslinie 10 und dem Tram 9 bedient.
                Zum Keller gelangst du entweder von der Gotthelfstrasse her oder vom Innenhof der Feuerwehr durch die gr&uuml;ne Glastüre
                nördlich vom Atelierturm. Der Boxkeller ist im UG links.
            </p>
            <div class="map-responsive">
                <iframe id="googleMaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d937.9223704120412!2d7.452730700000012!3d46.9549388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e39e9ac7e4d51%3A0x514b718a9a20e5be!2sAlte%20Feuerwehr%20Viktoria!5e1!3m2!1sen!2sch!4v1601380403662!5m2!1sen!2sch" width="600" height="450" frameborder="0" style="border:0" allowfullscreen tabindex="0"></iframe>
            </div>
        </mat-card-content>
    </mat-card>
</div>