<div fxLayout="row" fxLayoutAlign="start start">
    <mat-card class="card">
        <mat-card-content>
            <h1>Training</h1>
            <p class="textContent">Box*Bern – das feministische Boxtraining für FLTI* (FrauenLesbenTransInter)-Menschen in der 
                Boxschule Viktoria Bern. Das Training findet jeweils am Freitagabend von 18.00 bis 19.30 Uhr 
                im Boxkeller der Boxschule Viktoria statt. Geleitet wird es abwechslungsweise von mehreren 
                Trainer*innen und richtet sich sowohl an Anfänger*innen, wie auch an Fortgeschrittene. Du 
                kannst gerne unverbindlich zu einem Probetraining vorbeikommen! </p>
                <p class="textContent">Die Boxschule Viktoria ist 
                niederschwellig organisiert. Du kannst dich nach deinen Möglichkeiten an den Strukturen 
                beteiligen und einen Beitrag zur Kollekte leisten. Der Jahresmitgliederbeitrag beträgt 
                500.- resp. 300.- für Menschen in Ausbildung oder nach Absprache auch weniger, solltest 
                Du auch die offenen Trainings der Boxschule Viktoria besuchen wollen. </p>
                <p class="textContent">Solltest du Fragen 
                haben, schreib uns gerne eine eine Mail oder komm vorbei (siehe <a routerLink="/kontakt" >Kontakt</a>). </p>
                <p class="textContent">Wir freuen uns auf deinen Schweiss! Die Boxtrainer*innen</p><mat-icon class="navIcon">sports_mma</mat-icon>
        </mat-card-content>
    </mat-card>
</div>