<div fxLayout="row" fxLayoutAlign="start start">
<mat-card class="card">
    <mat-card-content>
        <h1>Aktuell</h1>
        <div *ngFor="let post of posts">
            <mat-card class="innerCard">
                <mat-card-title class="cardTitle">{{post.title}}</mat-card-title>
                <mat-card-subtitle>{{post.time}}</mat-card-subtitle>
                <mat-card-content>
                    <div [innerHTML]="post.content"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
</div>