<div fxLayout="row" fxLayoutAlign="start start">
    <mat-card class="card">
        <mat-card-content>
            <h1>Home</h1>
            <p>To do:</p>
            <ul>
                <li>Warum funktioniert Timeline nicht mehr? Habe eigentlich nur generellen Style geändert und seitdem zeigt es den nicht mehr an bei aktuell</li>
                <li>Service für Navigation erstellen</li>
                <li>Service für Aktuell-Nachrichten erstellen</li>
                <li>Unter Kontakt Google-Maps einbinden</li>
                <li>Ev. Timeline noch mehr nach links verschieben</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
